<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://cxf.apache.org/jaxrs
						http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/jaxws
						http://cxf.apache.org/schemas/jaxws.xsd">
 
 
 	<context:annotation-config /> 
 	<context:component-scan base-package="prova.project2" />
	 	
    <import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<jaxws:endpoint xmlns:tns="http://service.project2.prova/"
		id="clientservice" implementor="prova.project2.service.ClientServiceImpl"
		wsdlLocation="wsdl/clientserviceimpl.wsdl" endpointName="tns:ClientServiceImplPort"
		serviceName="tns:ClientServiceImplService" address="/ClientServiceImplPort">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
	
	
	
   	<bean id="dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
      <property name = "url" value = "jdbc:mysql://localhost:3306/prova"/>
      <property name = "username" value = "root"/>
      <property name = "password" value = "admin"/>
   	</bean>
   		 	 
</beans>
 
<!-- http://cxf.apache.org/docs/jax-rs-and-jax-ws.html -->